---
import BaseLayout from "../layouts/BaseLayout.astro";
import Icon from "astro-icon";

const pageTitle = "Not found";
const backIcon = "ep:back";
const homeIcon = "ep:home-filled";
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class="container flex flex-col items-center min-h-screen px-6 py-12 mx-auto max-w-sm text-center"
  >
    <p class="text-sm font-medium text-blue-500 dark:text-blue-400">
      404 error
    </p>

    <h1
      class="mt-3 text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl"
    >
      Page not found
    </h1>
    <p class="mt-4 text-gray-500 dark:text-gray-400">
      Sorry, the page you are looking for doesn't exist.
    </p>

    <div class="flex items-center w-full mt-6 gap-x-3 shrink-0 sm:w-auto">
      <button
        id="btnBackPage"
        (onclick)="window.history.back()"
        class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg dark:text-gray-200 gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:border-gray-700"
      >
        <Icon name={backIcon} class="w-5" />

        <span>Go back</span>
      </button>

      <a
        href="/"
        class="flex gap-x-2 w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600"
      >
        <Icon name={homeIcon} class="w-5" />
        <span>Home page</span>
      </a>
    </div>
  </div>
</BaseLayout>

<script is:inline>
const btnBackPage = document.getElementById("btnBackPage");

const goBackPage = () => {
  window.history.back();
};

console.log("btnBackPage", btnBackPage)
btnBackPage.addEventListener("click", goBackPage);
</script>
