---
import BaseLayout from "@layouts/BaseLayout.astro";
import { myName } from "../data";
import Socials from "@components/Socials.astro"
import {Icon} from "astro-icon/components" 
import type { AppIcon } from "@models/icon";
import { BASE } from "../consts";

const pageTitle = `${myName} | portfolio`;
const downloadIcon: AppIcon = 'ph:download';
---

<BaseLayout pageTitle={pageTitle} activeRoute="portfolio">
    <div class="h-full w-full flex flex-col justify-center items-center">
        <h1 class="leading-tight mb-2">Hi, I'm Tri Truong Dinh Minh.</h1>
        <Socials className="justify-center" />
        <a href={BASE + "/resume.pdf"} class="px-2 py-1 flex gap-2 items-center transition-colors rounded-md border border-cyan-800 dark:border-cyan-200 hover:border-blue-500 dark:hover:border-blue-500 hover:text-blue-500">
            Resume <Icon class="w-6 h-6" name={downloadIcon} />
        </a>
    </div>
</BaseLayout>
