---
import { myName } from '../data'
import type { ActiveRoute } from '../components/Header.astro'
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'

---

<StarlightPage frontmatter={{ title: 'Tips Develop' }}>
  <h2>
    The tips I found on the internet
  </h2> 
</StarlightPage>


