---
import { Icon } from "astro-icon/components";
import type { AppIcon } from "../models";

interface Props {
  className?: string;
}

const { className } = Astro.props;

const socials: {
  social: string;
  icon: AppIcon;
  link: string;
}[] = [
  {
    social: "Github",
    icon: "bxl:github",
    link: "https://github.com/tritdm121099",
  },
  {
    social: "LinkedIn",
    icon: "bxl:linkedin-square",
    link: "https://www.linkedin.com/in/nin-tri-truong/",
  },
];
---

<div class={className + " w-full flex gap-2 mb-4"}>
  {
    socials.map((social) => (
      <a
        href={social.link}
        rel="noreferrer"
        target="_blank"
        aria-label={`Redirect to ${social.social} of author`}
        class="w-8 h-8 flex items-center justify-center rounded-full border border-gray-300 dark:border-gray-700 hover:text-blue-600 hover:border-blue-600 transition-colors duration-200 ease-in-out"
      >
        <Icon name={social.icon} class="w-6" />
      </a>
    ))
  }
</div>
